*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body{
  background-color: #fff;
  color: #666;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
  font-size: 16px;
  background-image: url("images/grayTower.jpg");
}

#splash{
  width: 100%;
  height: auto;
  padding-top: 50vh;
  padding-bottom: 50vh;
  text-align: center;
  font-size: 1.5em;
  border: solid red 1px;
   
}

section{
  text-align: left;
  font-size: 1em;
  width: 100%;
  height: auto;
  padding-top: 50vh;
  padding-bottom: 50vh;
  text-align: center;
  font-size: 1.5em;
  border: solid red 1px;
  background-image: url("images/grayTower.jpg");
}


#home{
	 background-image: url("grayTower.jpg");
}

article{
	border: solid red 1px;
	box-shadow: 0px 0px 40px black;
	text-align: left;
}


#homeImage{
	position:fixed;
}

/* .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 3 1 50%;
    -ms-flex: 3 1 50%;
    flex: 3 1 50%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
} */

#splash h1 a {
	font-family: Helvetica, Verdana, Geneva, sans-serif;
	text-decoration: none;
}

.titlebar h1{
	top: -20px;
}
nav{
  position: fixed;
  top: 0px;
  left: 0px;
  margin-top: 0 auto;
  height: 10%;
  width: 100%;
  background-color: #222;
  box-shadow: 0px 0px 40px black;
  padding-top: 10px;
}

nav ul{
  list-style-type: none;
  text-align: center;
  float: center;
}

nav ul li{
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 2%;
  
}

nav ul li.icon{
	display:none;
}

nav ul li a{
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 14px 16px;
  background-color: #222;
 
}


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  nav ul li:not(:first-child) {display: none;}
  nav ul li.icon {
    float: center;
    display: inline-block;
	padding: 0px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  nav ul.responsive {position: relative;}
  nav ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
	padding: 0px;
  }
  nav ul.responsive li {
    float: none;
    display: inline;
	padding: 0px;
  }
  nav ul.responsive li a {
    display: block;
    text-align: center;
  }
}





















footer {
  position: static;
  bottom: 0;
  height: 5em;
  padding: 2em 0;
  padding-top: 3em;
  width: 100%;
  background-color: #333;
  background-attachment: fixed;
  background-size: cover;
  color: #eee;
  z-index: -1;
  text-align: center;
  box-shadow: 0px 0px 40px black;
  
  > p {
    padding: 0 4em;
  }
}